registry=https://pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/ :username=bradleyevans0150
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/ :_password=b2lsZmR3enlzcmQ3amR0ams0cGtsNXNxM21vYmtibHlzeHNiendvZ3NpM3Y0cnhlaDI0cQ==
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/ :email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/:username=bradleyevans0150
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/:_password=b2lsZmR3enlzcmQ3amR0ams0cGtsNXNxM21vYmtibHlzeHNiendvZ3NpM3Y0cnhlaDI0cQ==
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/:email=npm requires email to be set but doesn't use the value
; end auth token