registry=https://pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/:username=bradleyevans0150
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/:_password=ZHcyaHdpc3Ezb2J6NGlvNGlocm12Nm00ZW9jYXg3c3IydzdjZXNocm13am8ydm5zZ25jYQ==
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/:username=bradleyevans0150
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/:_password=ZHcyaHdpc3Ezb2J6NGlvNGlocm12Nm00ZW9jYXg3c3IydzdjZXNocm13am8ydm5zZ25jYQ==
//pkgs.dev.azure.com/bradleyevans0150/GardenerGame/_packaging/gardener-game/npm/:email=npm requires email to be set but doesn't use the value
; end auth token